body {
    background-color: #f2f4f8;
    min-width: 303px
    height:  100%
}

header {
    background-color: #2d313d
}

.logo {
    width: 32px;
    height: 20px;
    margin: 18px 0 18px 6px
}

.header {
    max-width: 960px;
    margin: 0 auto
}

.header div {
    float: right;
    color: #727989;
    font: 14px Arial
}

.header div a {
    text-decoration: none;
    color: #727989
}

.header div i {
    font-size: 18px
}

.header div form {
    display: inline-block;
    height: 14px
}

.header div .toggleMin {
    display: none;
    padding-left: 10px;
    margin-right: 10px;
    outline: none;
    -webkit-appearance: none;
    font: 12px Arial;
    width: 150px;
    height: 14px;
    border: solid #d6d9e1 1px;
    border-radius: 5px
}

.header div .city {
    border-bottom: dashed 1px;
    margin: 0 6px 0 22px
}

.header div .userPhoto {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    padding: 0 24px 0 10px;
    border-radius: 4px
}

.nav {
    background-color: #646d81
}

.nav1 {
    max-width: 960px;
    margin: 0 auto;
    font: 14px Arial
}

.nav1 a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 7px 0 12px;
    margin-right: 26px;
    border-top: solid #646d81 5px
}

.nav1 a:hover {
    border-top-color: white;
    padding-top: 7px;
    transition-duration: 0.3s
}

.main {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 10px #e0e2e6;
    background-color: white
}

.main menu {
    max-width: 170px;
    padding-top: 20px;
    float: left
}

.main .submenu {
    margin-top: 32px;
    padding: 9px 28px 9px 23px;
    font: 18px Georgia
}

.main .submenu:hover {
    border-left-color: white
}

.main menu li:hover {
    border-left-color: #99a1b3;
    transition-duration: 0.3s
}

.main menu li {
    list-style-type: none;
    padding: 9px 28px 9px 23px;
    border-left: solid white 5px
}

.main menu li a {
    text-decoration: none;
    font: 14px Arial;
    color: #99a1b3
}

.main menu li a:hover {
    color: black
}

/*.content {
    margin-left: 170px;
    border-left: solid #e0e4ed 1px
}

.content h1 {
    padding: 30px 0 20px 30px;
    font: 30px Georgia
}

.content h1 span {
    margin-left: 28px;
    border-bottom: dashed 1px
}*/

.footer {
    color: #99a1b3;
    font: 12px Arial
}
.headerMin {
    display: none;
    color: white;
    text-align: center
}

.headerMin img {
    position: relative;
    top: 16px
}

.headerMin .logoWhite {
    margin-left: 35px
}

.headerMin i {
    font-size: 36px;
    padding: 32px 0
}

.headerMin i:hover {
    color: grey
}

.headerMin span {
    font: 36px Arial;
    margin: 0 65px 0 50px
}

.userPhotoBig {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 45px
}

.formMin {
    display: none;
    background-color: #f2f4f8;
    padding: 30px 45px;
    color: #99a1b3;
    font-size: 38px
}

.formMin form {
    display: inline-block;
    height: 28px;
    position: relative;
    bottom: 6px
}

.toggle {
    display: none;
    padding-left: 10px;
    outline: none;
    -webkit-appearance: none;
    font: 14px Arial;
    width: 280px;
    height: 28px;
    border: solid #d6d9e1 1px;
    border-radius: 5px
}

.right {
    float: right
}

.right .fa-sliders {
    margin-left: 48px
}

